fake news classifier data taken from kaggle where we have ID TITLE AUTHOR TEXT and LABEL so here we will take only text and lable data and seprate it and store it into new data frame for our modeling this is a nlp problem so we have to perform few preprocessing steps before proceed like removing stopwords, converting into lower cases,removing special text,stemming after doing all these steps we are storing into new list (corpus) , then applying TFIDF taking top 5000 words with dimesion 3 (1 word 2 word 3 word ),then after performing all these steps , we are creating navie bayes and paasive aggresive calssifer model and fitting into it and finding top score 90% and 91 %

In [1]:
import pandas as pd #dataframe libraries
import numpy as np #calculation array librarries
import matplotlib.pyplot as plt #visulaization

In [2]:
traindata=pd.read_csv("train.csv") #loading dataframe train
traindata.head(7) #displaying content

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,6,Life: Life Of Luxury: Elton John’s 6 Favorite ...,NaN,Ever wonder how Britain’s most iconic pop pian...,1

In [3]:
print(traindata.info()) #information of data
print(traindata.shape) #shape of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB
None
(20800, 5)

In [4]:
traindata.describe(include="all") #describring data

,id,title,author,text,label
count,20800.000000,20242,18843,20761,20800.000000
unique,NaN,19803,4201,20386,NaN
top,NaN,The Dark Agenda Behind Globalism And Open Borders,Pam Key,,NaN
freq,NaN,5,243,75,NaN
mean,10399.500000,NaN,NaN,NaN,0.500625
std,6004.587135,NaN,NaN,NaN,0.500012
min,0.000000,NaN,NaN,NaN,0.000000
25%,5199.750000,NaN,NaN,NaN,0.000000
50%,10399.500000,NaN,NaN,NaN,1.000000
75%,15599.250000,NaN,NaN,NaN,1.000000
max,20799.000000,NaN,NaN,NaN,1.000000

In [5]:
traindata.isnull().sum() #null values
traindata.dropna(inplace=True) #droping null values
print(traindata.shape) # after droping null values
traindata.reset_index(inplace=True) #reseting index after droping
traindata.head(10)

(18285, 5)

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
7,9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0
8,10,10,Obama’s Organizing for Action Partners with So...,Aaron Klein,"Organizing for Action, the activist group that...",0
9,11,11,"BBC Comedy Sketch ""Real Housewives of ISIS"" Ca...",Chris Tomlinson,The BBC produced spoof on the “Real Housewives...,0

# text-----------------------label

In [6]:
x=traindata[["text"]] #dividing data labeled or unlabeled # pay attention here 
y=traindata["label"]

In [7]:
import nltk # nlp libraries
from nltk.stem import PorterStemmer #steggimg lib
import re #lower cases
from nltk.corpus import stopwords # stop word lib that will removoe unwanted word like is am are

In [8]:
ps = PorterStemmer() #object for stemming
corpus = [] # creating a corpus list that will store new sentence after lowering case with setmming and stopwords

In [ ]:
for i in range(0,len(x)):
    review = re.sub('[^a-zA-Z]', ' ', x["text"][i]) # lowring case neglecting A----Z/a------z (title only)
    review = review.lower()
    review = review.split() #spliting each word
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
corpus # after applying stopwords , stemming  our sentences

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_v=TfidfVectorizer(max_features=5000,ngram_range=(1,3)) #5000 dimension (1 word 2 word 3 word)
X=tfidf_v.fit_transform(corpus).toarray()
print(x.shape) #shape after TFIDF
from sklearn.model_selection import train_test_split # sploiting data frame into train test 
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2) #20 %
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)
cv.get_feature_names() #extracted 5000 word with cobination of 3 words

In [ ]:
cv.get_params() #parameter used by TFIDF

# http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html
This function prints and plots the confusion matrix.Normalization can be applied by setting `normalize=True`.

In [ ]:
import itertools
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):    
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, cm[i, j],
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

# navie bayes algo

In [ ]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()
classifier.fit(xtrain,ytrain)
pred=classifier.predict(xtest)
print(pred)
from sklearn import metrics
score=metrics.accuracy_score(ytest,pred)
print(score)
confusionmetrices=metrics.confusion_matrix(ytest,pred)
plot_confusion_matrix(confusionmetrices, classes=["fake","real"])

# passive aggresvie classifier algo

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model=PassiveAggressiveClassifier(n_jobs=50)
model.fit(xtrain,ytrain)
pred=model.predict(xtest)
print(pred)
score=metrics.accuracy_score(ytest,pred)
print(score)
confusionmetrices=metrics.confusion_matrix(ytest,pred)
plot_confusion_matrix(confusionmetrices, classes=["fake","real"])